*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 133px auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  block-size: 298px;
  overflow: scroll;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 22px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  position: relative;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.preloader {
  position: absolute;
  inset: 0;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.search-form__textfield {
  cursor: pointer;
  appearance: none;
  inline-size: 255px;
  block-size: 27px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  background-color: inherit;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: initial;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}